<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <!-- [(ngModel)] is a 2 way databinding, [] is for inputs and () is for outputs. 
         Since this is doing both we place them inside both. Basically it takes the text as an input and then
        allows us to use that text as an output to place it somewhere else or do something with it.-->
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Add Day & Time">
    </div>
    <div class="form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>